.MMM-Snow .snow-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.MMM-Snow .snow-flake {
    position: absolute;
    top: -25%;
    left: 50%;
    width: 20%;
    
    animation-name: snow-drop;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

.MMM-Snow .snow-flake div {
    position: absolute;

    width: 20px;
    height: 20px;

    background-repeat: no-repeat;
    background-size: cover;

    animation-name: snow-jiggle;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.MMM-Snow .flake1 {background-image: url('images/flake1.png');}
.MMM-Snow .flake2 {background-image: url('images/flake2.png');}
.MMM-Snow .flake3 {background-image: url('images/flake3.png');}

@keyframes snow-drop {
    from {top: -25%}
    to {top: 125%}
}

@keyframes snow-jiggle {
    0% {left: 0%}
    20% {left: 80%}
    30% {left: 20%}
    50% {left: 100%}
    70% {left: 0%}
    85% {left: 60%}
    100% {left: 0%}
}